{% macro destroy_button(base_path,id) %}
  <form method="post" action="{{base_path}}/recipe/{{id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista resepti</button>
  </form>
{% endmacro %}

{% macro edit_button(base_path,id) %}
  <form method="get" action="{{base_path}}/recipe/{{id}}/edit" style="display: inline-block;">
    <button type="submit" class="btn btn-default">Muokkaa reseptiä</button>
  </form>
{% endmacro %}

{% macro edit_comment(base_path, recipe_id, chef_id, comment) %}
<!--ei vielä käytössä eikä ehkä tulekkaan-->
<form method="post" action="{{base_path}}/recipe/{{recipe_id}}/comment/{{chef_id}}/edit">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <label>Arvosana</label>
                <select name="rating" class="form-control">
                    <option {% if comment.rating == 1%}
                            selected
                            {% endif %}>1</option>
                    <option {% if comment.rating == 2%}
                            selected
                            {% endif %}>2</option>
                    <option {% if comment.rating == 3%}
                            selected
                            {% endif %}>3</option>
                    <option {% if comment.rating == 4%}
                            selected
                            {% endif %}>4</option>
                    <option {% if comment.rating == 5%}
                            selected
                            {% endif %}>5</option>
                </select>
            </div>
            <div class="col-xs-3">
                <label>Kommentti</label>
                <input class="form-control" name="comment" type="text" value="{{comment.comment}}">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default"> Lisää Kommentti </button>
</form>
{% endmacro %}

{% macro new_comment(base_path, recipe_id)%}
<form method="post" action="{{base_path}}/recipe/{{recipe_id}}/newcomment">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <label>Arvosana</label>
                <select name="rating" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select></div>
            <div class="col-xs-3">
                <label>Kommentti</label>
                <textarea class="form-control" name="comment" type="text"></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default"> Lisää Kommentti</button>
</form>
{% endmacro %}
