{% macro destroy_button(base_path,id) %}
  <form method="post" action="{{base_path}}/recipe/{{id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
  </form>
{% endmacro %}

{% macro edit_button(base_path,id) %}
  <form method="get" action="{{base_path}}/recipe/{{id}}/edit" style="display: inline-block;">
    <button type="submit" class="btn btn-default">Muokkaa</button>
  </form>
{% endmacro %}

{% macro comment_field(base_path, rating, comment, id) %}
    <form method="post" action="{{base_path}}/recipe/{{id}}/newcomment">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2">
                    <label>Arvosana</label>
                    <select name="rating" class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option
                            {% if rating == 3 %} selected="selected" {% endif %}
                            >3</option>
                        <option>4</option>
                        <option>5</option>
                    </select></div>
                <div class="col-xs-3">
                    <label>Kommentti</label>
                    <input class="form-control" name="comment" type="text">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default"> Lisää Kommentti </button>
    </form>
{% endmacro %}
