{% extends "base.html" %}
{% block content %}
{% import "macros/chef.html" as chef_macro %}
<h1>{{chef.name}} </h1>
{% if not chef.active %}
<p>
<span class="label label-info">Käyttäjä jäädytetty</span>
</p>
{% endif %}
{% if chef == user_logged_in %}
<a href="{{base_path}}/my_profile/edit" class="btn btn-default">Muokkaa tietoja</a>
{% endif %}

{% if user_logged_in.admin and not chef.admin %}
<p>
<form id="froze"></form>
<button form="froze" formmethod="post" formaction="{{base_path}}/admin/change_account_activity/{{chef.id}}" class="btn btn-danger">
    {% if chef.active %}
        Estä käyttäjä
    {% else %}
        Poista käyttäjän esto
    {% endif %}
</button>
</p>
{% endif %}
{% if recipes|length > 0%}
    {{chef_macro.listrecipes(base_path, recipes)}}
{% endif %}
{% if comments|length > 0%}
    {{chef_macro.listcomments(base_path, recipes_for_comments, comments)}}
{% endif %}
{% endblock %}
