{% extends "base.html" %}
{% block content %}
{% import "macros/_forms.html" as forms %}
<h1>Muokkaa reseptiä</h1>
<form method="post" action="{{base_path}}/recipe/{{recipe.id}}/edit">
    {{ forms.name_input(recipe.name) }}
    <div class="form-group">
        <table>
            <tr>
                <td>
                    {{ forms.quantity_label() }}
                </td>
                <td>
                    {{ forms.ingredient_label() }}
                </td>
            </tr>
            {% set ingredientCount = 0 %}
            {% for ingredient in ingredients %}
            <tr>
                <td>
                    <input disabled class="form-control" name="quantity[{{ingredientCount}}]"
                           value="{{ingredient.quantity}}"
                           type="text">
                </td>
                <td>
                    <input disabled class="form-control" name="ingredient[{{ingredientCount}}]"
                           value="{{ingredient.name}}"
                           type="text">
                </td>
                <td>
                    <form id="deleteIngredient{{ingredient.ingredient_id}}"
                          method="post"
                          action="{{base_path}}/recipe/{{recipe.id}}/delete_ingredient/{{ingredient.name}}"
                          data-confirm="Oletko varma?"></form>
                    <button form="deleteIngredient{{ingredient.ingredient_id}}"
                            class="btn btn-danger" name="destroy">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                        Poista ainesosa
                    </button>
                </td>
            </tr>
            {% set ingredientCount = ingredientCount + 1 %}
            {% endfor %}
        </table>
    </div>
    <script>var indexCountForIngredient = 0;</script>
    <span id="newIngredient"></span>
    <div class="form-group">
        {{ forms.add_new_ingredient(0)}}
    </div>

    {{ forms.directions_textarea(recipe.directions) }}

    {{ forms.cooking_time_input(recipe.cooking_time) }}

    {{ forms.keyword_label() }}
    <div class="row">
        <div class="col-md-6">
            {% set keywordCount = 0 %}
            {% for keyword in keywords %}
            <div class="form-group">
                <div class="input-group">
                    <input disabled class="form-control" name="keyword[{{keywordCount}}]" value="{{keyword.keyword}}"
                           type="text">
        <span class="input-group-btn">
            <form id="deleteKeyword{{keyword.id}}"
                  method="post"
                  action="{{base_path}}/recipe/{{recipe.id}}/delete_keyword/{{keyword.keyword}}"
                  data-confirm="Oletko varma?"></form>
            <button form="deleteKeyword{{keyword.id}}"
                    class="btn btn-danger" name="destroy">
                <span class="glyphicon glyphicon-remove-sign"></span>
                Poista Hakusana
            </button>
        </span>
                </div>
            </div>
            {% set keywordCount = keywordCount + 1 %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span id="newKeyword"></span>
        </div>
    </div>
    <script>var indexCountForKeyword = 0;</script>
    <div class="form-group">
        {{ forms.add_new_keyword(0)}}
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Tallenna
        </button>
    </div>
</form>
{{ forms.destroy_button(base_path, recipe.id)}}
{% endblock %}
