{% extends "base.html" %}
{% block content %}
{% import "macros/_forms.html" as forms %}
<h1>Muokkaa reseptiä</h1>
<form method="post" , action="{{base_path}}/recipe/{{recipe.id}}/edit">
    <div class="form-group">
        <label>Nimi</label>
        <input class="form-control" name="name" value="{{recipe.name}}" type="text">
    </div>
    <div class="form-group">

        <table>
            <tr>
                <td>
                    <label>Määrä</label>
                </td>
                <td>
                    <label>Ainesosa</label>
                </td>
            </tr>
            {% set ingredientCount = 0 %}
            {% for ingredient in ingredients %}
            <tr>
                <td>
                    <input class="form-control" name="quantity[{{ingredientCount}}]" value="{{ingredient.quantity}}"
                           type="text">
                </td>
                <td>
                    <input class="form-control" name="ingredient[{{ingredientCount}}]" value="{{ingredient.name}}"
                           type="text">
                </td>
            </tr>
            {% set ingredientCount = ingredientCount + 1 %}
            {% endfor %}
        </table>
    </div>

    <div class="form-group">
        <label>Valmistusohje</label>
        <textarea name="directions" class="form-control">{{recipe.directions}}
        </textarea>
    </div>

    <div class="form-group">
        <label>Valmistusaika</label>
        <input class="form-control" name="cooking_time" value="{{recipe.cooking_time}}" type="text">
    </div>

    <div class="form-group">
        {% set keywordCount = 1 %}
        {% for keyword in keywords %}
        <!--// TODO LISÄÄ POISTONAPPI MUIHIN PAITSI ENSIMMÄISEEN!! -->
        <input disabled class="form-control" name="keyword[{{keywordCount}}]" value="{{keyword.keyword}}" type="text">
        {% set keywordCount = keywordCount + 1 %}
        {% endfor %}
    </div>
    <span id="newKeyword"></span>

    <div class="form-group">
        <button type="button" onclick="newKeywordInput(0)" class="btn btn-success">Lisää hakusana</button>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-floppy-disk"></span>
                Tallenna</button>
        {{ forms.destroy_button(base_path,recipe.id)}}
    </div>
</form>
{% endblock %}
