{% extends "base.html" %}
{% block content %}
{% import "macros/_forms.html" as forms %}
<h1>Lisää uusi resepti</h1>

<form method="post" action="{{base_path}}/recipe">

    {{ forms.name_input(name) }}


    <div class="form-group">
        <table>
            <tr>
                <td>
                    {{ forms.quantity_label() }}
                </td>
                <td>
                    {{ forms.ingredient_label() }}
                </td>
            </tr>
            <tr>
                <td>
                    <input name="quantity[0]" class="form-control" type="text" value="{{attribute(quantity, 0)}}">
                </td>
                <td>
                    <input name="ingredient[0]" class="form-control" type="text" value="{{attribute(ingredient, 0)}}">
                </td>
            </tr>
        </table>
        {% set indexCount = 1 %}
        {% for i in ingredient %}
        {% if loop.index != 1 %}
        <table>
            <tr>
                <td>
                    <input name="quantity[{{indexCount}}]" class="form-control" type="text"
                           value="{{attribute(quantity, indexCount)}}">
                </td>
                <td>
                    <input name="ingredient[{{indexCount}}]" class="form-control" type="text" value="{{i}}">
                </td>
            </tr>
        </table>
        {% endif %}
        {% set indexCount = loop.index %}
        {% endfor %}

    </div>
    <script>var indexCountForIngredient = {{indexCount}};</script>
    <span id="newIngredient"></span>
    <div class="form-group">
        {{ forms.add_new_ingredient(1)}}
    </div>

    {{ forms.directions_textarea(directions) }}

    {{ forms.cooking_time_input(cooking_time) }}

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ forms.keyword_label() }}
                <select name="keyword[0]" class="form-control">
                    <option>Alkuruoka</option>
                    <option {% if attribute(keyword, 0) == 'Pääruoka' %} selected {% endif %}>Pääruoka</option>
                    <option {% if attribute(keyword, 0) == 'Jälkiruoka' %} selected {% endif %}>Jälkiruoka</option>
                    <option {% if attribute(keyword, 0) == 'Välipala' %} selected {% endif %}>Välipala</option>
                    <option {% if attribute(keyword, 0) == 'Muu' %} selected {% endif %}>Muu</option>
                </select>
            </div>
        </div>
    </div>

    {% set indexCountForKeyword = 1 %}
    {% if keyword|length > 1%}
    <div class="row">
        <div class="col-md-6">
            {% for i in 1..keyword|length %}
                <div class="form-group">
                    <input name="keyword[{{i}}]" class="form-control" type="text" value="{{attribute(keyword, i)}}" >
                </div>
				{% set indexCountForKeyword = i + 1 %}
            {% endfor %}
            </div>
    </div>
    {% endif %}
    <script>var indexCountForKeyword = {{ indexCountForKeyword }};</script>
    <div class="row">
        <div class="col-md-6">
            <span id="newKeyword"></span>
        </div>
    </div>
    <div class="form-group">
        {{ forms.add_new_keyword(1) }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-save"
                                                            aria-disabled="true"></span> Tallenna
        </button>
    </div>
</form>
{% endblock %}
