{% extends "base.html" %}
{% block content %}
{% import "macros/_forms.html" as forms %}
<h1>{{recipe.name}}</h1>
{% set sum_rating = 0%}
{% for comment in comments%}
{% set sum_rating = sum_rating + comment.rating%}
{% endfor %}
<!--arvostelua sanantaivutus muista TODO-->
<p>Arvosana {% if comments|length > 0%}
    {{sum_rating / comments|length}}/5
    {% else %} 
    ei ole arvosteltu
    {% endif %}, {{comments|length}} 
    {% if comments|length == 1%}
    arvostelu
    {% else %}
    arvostelua
    {% endif %}</p>
<h2> Ainesosat </h2>
{%for ingredient in ingredients%}
<ul>
    <li>{{ingredient.quantity}}  {{ingredient.name}}</li>
</ul>
{% endfor %}
<h2> Valmistusohjeet </h2>

<p>{{recipe.directions}}</p>

{% if user_logged_in %}
{% if get_user_logged_in.id == recipe.chef_id %}
<!--jos käyttäjän resepti, niin polut muokkaukseen ja poistoon-->
<p>
    {{forms.edit_button(base_path, recipe.id)}}
    {{forms.destroy_button(base_path, recipe.id)}}
</p>

{% endif %}
<!-- kommentin lisäyskenttä jos ei ole vielä kommentoinut -->
<form method="post" action="{{base_path}}/recipe/{{recipe.id}}/newcomment">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-2">
                <label>Arvosana</label>
                <select name="rating" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select></div>
            <div class="col-xs-3">
                <label>Kommentti</label>
                <input class="form-control" name="comment" type="text">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default"> Lisää Kommentti </button> 
</form>
{% endif %}
<!--kommentit-->
{% for comment in comments %}
<ul>
    <li>{{comment.rating}}/5 {{comment.comment}} 
        {% if user_logged_in.id == comment.chef_id %}
        <button class="btn btn-primary">Muokkaa</button> <button class="btn btn-danger">Poista</button>
        {% endif %}
    </li> 
</ul>
{% endfor %}
<h3>Hakusanat</h3>
{% for keyword in keywords %}
<ul class="inline">
    <!--Teemasanan mukainen index näkymä täytyy muistaa tehdä-->
    <li><a href="{{base_path}}/">{{keyword.keyword}}</a></li>
</ul>
{% endfor %}


{% endblock %}